style {
  h2 {
    text-transform: capitalize;
  }

  .content {
    display: inline-block;
    font-family: sans-serif;
    margin-top: 1em;
  }
}

<!-- class {
  onButtonClick(name, event, el) {
    alert(`Olá ${name} ${event} ${el}`);
  }
} -->

<div.content>
  <h2>${input.name}</h2>
  <p>${input.text}</p>

  <!-- <button on-click('onButtonClick', input.name)>
    Me clica!
  </button> -->
</div>
